{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="text-center" >
                <img class="mb-4" src="{{ asset('images/admin.png') }}" alt="" width="200" height="200">
                <h1 class="h3 mb-3 fw-normal">Registration</h1>

                    {{ form_start(form)}}

                        <div class="mb-3">
                            {{ form_row(form.username, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.password, {'attr' : {'class' : 'form-control'}}) }}
                        </div>
                        <br>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Create an account</button>
                    {{ form_end(form) }}
                <br>
                <a href="{{ path('login') }}" class="nav-link">Already an account</a>
        </div>
    </div>
</div>

{% endblock %}

{% block title %}

{% endblock %}