{% extends 'base.html.twig' %}

{% block body %}
    {% include 'macros/alerts.html.twig' %}
<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <br>
        <legend>Add a new trick</legend>

        {{ form_start(tricks_form) }}

        <div class="form-group">
            <label class="col-form-label mt-4" for="name">Trick's name</label>
            {{ form_widget(tricks_form.name) }}
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="description">Description</label>
            {{ form_widget(tricks_form.description) }}
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="category" >Trick's category</label>
            {{ form_widget(tricks_form.category) }}
        </div>

        <div class="form-group">
            <label class="form-label mt-4" for="images" >Images</label>
            {{ form_widget(tricks_form.images) }}
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="videos" >Videos</label>
            {{ form_widget(tricks_form.videos) }}
        </div>

        <br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new_tricks') }}">
        <button type="submit" class="btn btn-primary">Submit</button>

        {{ form_end(tricks_form) }}

    </div>
</div>

{% endblock %}

