{% extends 'base.html.twig' %}

{% block body %}
    {% include 'macros/alerts.html.twig' %}

    {% set _currentPage = app.request.query.get('page') ?: 1 %}

<div class="d-flex flex-column min-vh-100">
    <!-- Header -->

    <div class="text-center">
        {% if(medias == null) %}
            <img src="{{ asset('default_images/tricks.jpg') }}" class="rounded mx-auto d-block" height="500px" alt="">
        {% else %}
            <img src="{{ asset(tricks.firstImage.path) }}" class="rounded mx-auto d-block" height="500px" alt="">
        {% endif %}
    </div>

    <div class="container">
        <div class="mx-auto text-center">
            <h1 class="text-uppercase mx-auto my-0">{{ tricks.name }}</h1>
        </div>
    </div>

    <div class="container">
        <!-- Modal system for medias in responsive mode -->
        <div class="row py-4 justify-content-center d-xl-none">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadMoreMedias">
                <i class="fas fa-spinner mr-3"></i>See medias</button>
        </div>
        <div class="modal fade" id="loadMoreMedias" tabindex="-1" aria-labelledby="loadMoreMedias" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal heading -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteTricksLabel">Medias</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Modal body with image -->
                    <div class="modal-body">
                        {% for media in medias %}
                            {% if (media.type == "video") %}
                            <iframe id="TricksVideo" width="450" height="350"
                                    src="{{ asset(media.name) }}"
                                    allowfullscreen>
                            </iframe>
                            {% endif %}
                            <img src="{{ asset(media.path) }}" class="img-fluid" alt="" >
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- All medias in fullscreen mode -->
        <div class="album py-5 d-none d-xl-block">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if(medias == null) %}
                <div class="col">
                    <div class="card shadow-sm">
                    <img src="{{ asset('default_images/tricks.jpg') }}" alt="">
                    </div>
                </div>
                {% else %}
                    {% for media in medias %}
                        {% if (media.type == "video") %}
                            <iframe width="560" height="315" src="{{ asset(media.name) }}" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% else %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="{{ asset(media.path) }}" class="img-fluid" alt="" >
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Tricks -->
    <div class="container">
        <article>
        <hr>
        <div class="metadata">
            Posted the {{ tricks.createdAt | date('d/m/y') }} at {{ tricks.createdAt | date('H:i') }} by {{ user.username }}
        </div>
        <hr>
        <div class="content">
            Category : {{ tricks.category.name }}
        </div>
        <hr>
        <div class="content">
            {{ tricks.description }}
        </div>
        <hr>
    </article>
    </div>

    <!-- Comment form -->
    {% if is_granted('ROLE_USER') %}
        <div class="container">
            {{ form_start(comment_form) }}
            <div class="form-group">
                <legend class="mt-4">Leave us your comment</legend>
                {{ form_widget(comment_form.message) }}
            </div>
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('new_comment') }}">
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(comment_form) }}
            <hr>
        </div>
    {% else %}
        <div class="container">
            <div class="alert alert-dismissible alert-info">
                <p class="mb-0">You need to be connected to keep us a comment!</p>
            </div>
        </div>
    {% endif %}

    <!-- All comments -->
    <div class="container" id="comments">
        <div class="row py-3 justify-content-center" id="trickComments">
            {%  if (comments is empty)  %}
                <legend class="mt-4">No comments at this time... Be first!</legend>
                <hr>
            {% else %}
                <legend class="mt-4">All yours comments</legend>
                {% for comment in comments %}
                    <div class="d-flex justify-content-start align-items-center mb-3 w-100 trick-comment">
                        <div class="trick-comment-avatar">
                            <img class="avatar mr-4" src="{% if comment.user.avatar is not null %}{{ asset('images/users/'~comment.user.avatar) }}{% else %}{{ asset('/default_images/avatar.png') }}{% endif %}" width="75" height="75" alt=""/>
                        </div>
                        <div class="text-justify trick-comment-content mb-2">
                            <p>{{ comment.message }}</p>
                            <p class="pr-2 mb-0">
                                created on {{ comment.createdAt|format_datetime(locale='en',pattern="EEEE dd MMMM YYYY") }} by {{ comment.user.username }}
                            </p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            <div>
                <ul class="pagination">
                    {% for i in 1..lastPage %}
                    <li class="page-item {% if i == _currentPage %}active{% endif %}">
                        <a class="page-link" href="{{ path('show', {'slug': tricks.slug, 'page': i}) }}#comments">{{ i }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

