{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <article>
        <br>
        <h2>{{ tricks.name }}</h2>
        <hr>
        <div class="metadata">Ecrit le {{ tricks.createdAt | date('d/m/y') }} a {{ tricks.createdAt | date('H:i') }}
        </div>
        <hr>
        <div class="content">
            {{ tricks.description }}
        </div>
    </article>
<br><hr>
    {% if is_granted('ROLE_USER') %}
    {% for comment in comments %}
    <div class="content">
        {{ comment.message }}
    </div>
    {% endfor %}
<br><hr>
    {{ form_start(comment_form) }}

    <div class="form-group">
        <label class="col-form-label mt-4" for="name">Leave us your comment</label>
        {{ form_widget(comment_form.message) }}
    </div>
    <br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('new_comment') }}">
    <button type="submit" class="btn btn-primary">Submit</button>

    {{ form_end(comment_form) }}
    {% endif %}
</div>

{% endblock %}

